In [2]:
# RetoDS
Este notebook tiene como finalidad desarrollar un ejercicio practico de manejo de bases de datos con python.

SyntaxError: invalid syntax. Perhaps you forgot a comma? (291102618.py, line 2)

In [3]:
# Importar la librería pandas
import pandas as pd
import os
import openpyxl

In [4]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'BD_Gestion.xlsx',
 'retods.ipynb',
 'Untitled.ipynb',
 'venv']

In [5]:
df_bd = pd.read_excel(r'BD_Gestion.xlsx', sheet_name='BD')

In [6]:
df_canal = pd.read_excel(r'BD_Gestion.xlsx', sheet_name='Canal')

In [7]:
df_programa = pd.read_excel(r'BD_Gestion.xlsx', sheet_name='Programa')

In [15]:
df_bd.head()

,id_canal,fecha,intervalo_2_horas,intervalo_hora,intervalo_medias_hora,entrantes,id_programa,contestadas,suma_ns,suma_prom_resp,suma_prom_abandono,tot_conversando_entrada,tot_conversando_salida,tot_documentando,total_disponible
0,1,2019-06-01,00:00,00:00,00:00,39,9,32,29.0003,121,119,10290,977,172,10147
1,2,2019-06-01,00:00,00:00,00:00,48,10,37,19.0002,9449,7548,26464,0,8560,5969
2,1,2019-06-04,00:00,00:00,00:00,144,9,119,99.9997,805,473,44241,728,3292,5485
3,2,2019-06-04,00:00,00:00,00:00,118,10,83,11.9999,40460,22418,59734,0,36114,5642
4,1,2019-06-05,00:00,00:00,00:00,246,9,233,214.0018,745,208,73689,598,1446,34499

In [9]:
df_canal.head()

   IdCanal      Canal
0        2      Línea
1        1       Chat
2        3  Presencia

In [10]:
df_programa.head()

   IdPrograma                      Programa
0           9  Linea de Servicio Al Cliente
1          10   Chat de Servicio Al Cliente
2           7                    BackOffice

## Renombrar columnas de los Dataframes
Renombramos los nombres de los campos para que queden en snake_case.

In [14]:
df_bd.rename(
    columns=({'IdCanal':'id_canal', 'Fecha':'fecha', 'Intervalo 2 horas':'intervalo_2_horas', 
              'Intervalo Hora':'intervalo_hora', 'Intervalo Medias Hora':'intervalo_medias_hora', 
              'Entrantes':'entrantes', 'IdPrograma':'id_programa', 'Contestadas':'contestadas', 
              'SumaNS':'suma_ns', 'SumaPromResp':'suma_prom_resp', 'SumaPromAbandono':'suma_prom_abandono', 
              'Tot_ConversandoEntrada':'tot_conversando_entrada', 'Tot_ConversandoSalida':'tot_conversando_salida', 
              'Tot_Documentando':'tot_documentando', 'TotalDisponible':'total_disponible'}),
    inplace=True,
    
)

In [16]:
df_canal.rename(
    columns=({'IdCanal':'id_canal', 'Canal':'canal',}),
    inplace=True,
)

In [17]:
df_programa.rename(
    columns=({'IdPrograma':'id_programa','Programa':'programa',}),
    inplace=True,
)

In [32]:
df_bd.reset_index(inplace=True)

In [33]:
df_bd.head()

,index,id_canal,fecha,intervalo_2_horas,intervalo_hora,intervalo_medias_hora,entrantes,id_programa,contestadas,suma_ns,suma_prom_resp,suma_prom_abandono,tot_conversando_entrada,tot_conversando_salida,tot_documentando,total_disponible
0,0,1,2019-06-01,00:00,00:00,00:00,39,9,32,29.0003,121,119,10290,977,172,10147
1,1,2,2019-06-01,00:00,00:00,00:00,48,10,37,19.0002,9449,7548,26464,0,8560,5969
2,2,1,2019-06-04,00:00,00:00,00:00,144,9,119,99.9997,805,473,44241,728,3292,5485
3,3,2,2019-06-04,00:00,00:00,00:00,118,10,83,11.9999,40460,22418,59734,0,36114,5642
4,4,1,2019-06-05,00:00,00:00,00:00,246,9,233,214.0018,745,208,73689,598,1446,34499

In [36]:
df_bd.rename(
    columns=({'index':'id_gestion'}),
    inplace=True,
)

In [37]:
df_bd.head()

,id_gestion,id_canal,fecha,intervalo_2_horas,intervalo_hora,intervalo_medias_hora,entrantes,id_programa,contestadas,suma_ns,suma_prom_resp,suma_prom_abandono,tot_conversando_entrada,tot_conversando_salida,tot_documentando,total_disponible
0,0,1,2019-06-01,00:00,00:00,00:00,39,9,32,29.0003,121,119,10290,977,172,10147
1,1,2,2019-06-01,00:00,00:00,00:00,48,10,37,19.0002,9449,7548,26464,0,8560,5969
2,2,1,2019-06-04,00:00,00:00,00:00,144,9,119,99.9997,805,473,44241,728,3292,5485
3,3,2,2019-06-04,00:00,00:00,00:00,118,10,83,11.9999,40460,22418,59734,0,36114,5642
4,4,1,2019-06-05,00:00,00:00,00:00,246,9,233,214.0018,745,208,73689,598,1446,34499

## Enviar los datos a PostgreSQL para manejarlos con DataGrip (IDE)

In [38]:
import psycopg2

In [19]:
## Creación de la conexión
pgcon = psycopg2.connect(
    host='localhost',
    database='curso_sql',
    user='postgres',
    port=5433,
    password='admin',
)

In [20]:
# Probar la conexión
pgcursor = pgcon.cursor()
pgcon.close()

In [21]:
# importar librería para conexión a las DB.
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5433/retods')

In [40]:
df_bd.to_sql('gestion',engine,if_exists='replace',index=False)

119

In [42]:
df_canal.to_sql('canal',engine,if_exists='replace',index=False)

3

In [43]:
df_programa.to_sql('programa',engine,if_exists='replace',index=False)

3

## Agregando Constraints a las tablas con sqlalchemy

In [41]:

#con = sqlalchemy.create_engine(url, client_encoding='utf8')
engine.execute('alter table gestion add primary key(id_gestion)')

In [44]:
engine.execute('alter table canal add primary key(id_canal)')

In [45]:
engine.execute('alter table programa add primary key(id_programa)')

In [46]:
query="""
ALTER TABLE gestion
ADD CONSTRAINT fk_id_canal 
FOREIGN KEY (id_canal) 
REFERENCES canal (id_canal);
"""
engine.execute(query)

In [50]:
def add_foreing_key(table_name,fk_name,fk_column_name,parent_table,fk_column_parent):
    query=f"""
    ALTER TABLE {table_name}
    ADD CONSTRAINT {fk_name} 
    FOREIGN KEY ({fk_column_name}) 
    REFERENCES {parent_table} ({fk_column_parent});
    """
    engine.execute(query)

In [52]:
add_foreing_key('gestion','fk_id_programa','id_programa','programa','id_programa')

ProgrammingError: (psycopg2.errors.DuplicateObject) la restricción «fk_id_programa» para la relación «gestion» ya existe

[SQL:
    ALTER TABLE gestion
    ADD CONSTRAINT fk_id_programa
    FOREIGN KEY (id_programa)
    REFERENCES programa (id_programa);
    ]
(Background on this error at: https://sqlalche.me/e/14/f405)